body {
	position: relative;
	margin: 0;
}

* {
	box-sizing: border-box;
}

section {
	padding: 40px 0;
}

ul{
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
}

p {
	margin: 0;
}


@import "index-style";